[submodule "GenshinJailbreakBypass"]
	path = GenshinJailbreakBypass
	url = https://github.com/iVoider/GenshinJailbreakBypass
[submodule "TCBNoJB"]
	path = TCBNoJB
	url = https://github.com/quanshousio/TCBNoJB
[submodule "FlyJB-X"]
	path = FlyJB-X
	url = https://github.com/hekatos/FlyJB-X
