Package: org.hekatos.axisbankpatch
Name: Axis Bank Patch
Author: Superuser1958
Description: Simple tweak that bypasses jb detection in Axis Bank Mobile Banking.
Depends: mobilesubstrate
Maintainer: joshuah345 <joshuah345@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Icon: icons/axisbankpatch.png
Version: 1.0.1
